<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="0"><!-- General -->
        <setting id="username" type="text" label="2" default="" />
        <setting id="password" type="text" option="hidden" label="3" default="" />
        <setting id="debug" type="bool" label="1" default="false"/>
        <setting id="https" type="bool" label="4" default="false"/>
    </category>
    <category label="10"><!-- Auto Syncing -->
        <setting id="autosync_movies" type="bool" label="11" default="false"/>
        <setting id="autosync_cleanmoviecollection" type="bool" label="13" default="false"/>
        <setting id="autosync_tv" type="bool" label="12" default="false"/>
        <setting id="autosync_cleantvshowcollection" type="bool" label="14" default="false"/>
    </category>
    <category label="20"><!-- Rating -->
        <setting id="rate_movie" type="bool" label="21" default="true"/>
        <setting id="rate_episode" type="bool" label="22" default="true"/>
        <setting id="rate_each_playlist_item" type="bool" label="23" default="true"/>
        <setting id="rate_min_view_time" type="slider" label="24" range="0,5,100" default="75"/>
    </category>
    <category label="30"><!-- Scrobbling -->
        <setting id="scrobble_movie" type="bool" label="31" default="false"/>
        <setting id="scrobble_episode" type="bool" label="32" default="false"/>
        <setting id="scrobble_min_view_time" type="slider" label="33" range="0,5,100" default="75"/>
    </category>
</settings>
